::root {
  --primary-text-color: #011f3a;
  --secondary-text-color: #777777;
  --link-color: #ffffff;
  --padding-link-primary: 13px 25px 13px 25px;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto, sans-serif;
}

a {
  display: block;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background: #EEEEEE;
  padding-left: 120px;
  padding-right: 120px;
}

.container {
  width: 1470px;
  background-color: #EEEEEE;
  padding-left: 120px;
  padding-right: 120px;
}
.container-section {
  width: 1200px;
  background-color: #EEEEEE;
}

.header {
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
  border-radius: 0px;
  width: 1470px;
}

.header__logo {
  padding-left: 24px;
}

.header__link {
  display: inline-block;
  display: flex;
  align-items: center;
  color: #011f3a;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  margin-right: 25px;
}

.header__img {
  margin-right: 13px;
}

.header__list {
  display: flex;
  align-items: flex-end;
}

.account-link {
  display: flex;
  align-items: center;
  color: #011f3a;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  margin-right: 25px;
}

.account-link__img {
  margin-left: 25px;
}

.hero {
  display: flex;
  padding-top: 87px;
  padding-bottom: 98px;
  background-color: #F2AE4D;
  width: 1470px;
}

.hero__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.16;
  color: #011F3A;
  margin-bottom: 33px;
}

.hero__link {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  background: #3d5675;
  border-radius: 44px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  padding: 19px 29px 19px 29px;
  min-width: 228px;
}

.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #011F3A;
  margin-bottom: 18px;
}

.hero__container {
  min-width: 500px;
}

.hero__img {
  margin-left: 316px;
  width: 504px;
  padding-bottom: 98px;
}

.certification {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;
  width: 1470px;
}

.certification__title--hidden {
  visibility: hidden;
}

.certification__list {
  display: flex;
  justify-content: center;
  padding-left: 120px;
  padding-right: 120px;
}

.certification__item {
  display: flex;
  align-items: center;
}

.certification__item:not(:first-child) {
  margin-left: 285px;
}

.certification__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.6px;
  color: #A1A1A1;
  margin-left: 16px;
}

.products {
  padding-top: 57px;
  padding-bottom: 50px;
  padding-left: 120px;
  padding-right: 120px;
}

.products__container {
  display: flex;
  justify-content: center;
  margin-bottom: 63px;
}

.products__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.19;
}

.products__link {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #3D5675;
  padding: 13px 25px 13px 25px;
  border-radius: 44px;
  min-width: 247px;
  margin-left: 540px;
}

.catalog {
  margin-bottom: 46px;
}

.catalog-container {
  display: flex;
}

.catalog-price {
  margin-left: 61px;
  padding-bottom: 30px;
  padding-right: 25px;
}

.catalog-price--stickers {
  margin-left: 111px;
}

.catalog-price--perfect {
  margin-left: 101px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  width: 400px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 0px;
}

.catalog__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  padding-left: 25px;
}

.catalog__image {
  margin-bottom: 24px;
}

.catalog-container__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #777777;
  padding-left: 25px;
}

.catalog-end__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #777777;
  padding-left: 25px;
}

.catalog-price__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #A1A1A1;
}

.catalog-end__link {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #3D5675;
  background: #FFFFFF;
  border-radius: 44px;
  font-style: normal;
  padding: 13px 25px 13px 25px;
  margin-left: 16px;
}

.catalog-end {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
}

.menegment {
  background: #72BDA3;
  box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
  margin: 70px 120px 70px 120px;
  text-align: center;
  padding-bottom: 88px;
}

.menegment__container {
  width: 100%;
  height: 50px;
  background-color: #D9D9D9;
  margin-bottom: 42px;
}

.menegment__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.28;
  text-align: center;
  margin-bottom: 47px;
}

.menegment__list {
  display: flex;
  justify-content: center;
  margin-bottom: 87px;
  padding-left: 50px;
  padding-right: 50px;
}

.menegment__item {
  text-align: center;
  margin-left: 100px;
}

.menegment__item:first-child {
  margin: 0;
}

.menegment__image {
  margin-bottom: 12px;
}

.menegment__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #3D5675;
}

.menegment-list__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.36px;
}

.menegment__link {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #ffffff;
  background: #3D5675;
  padding: 13px 26px 13px 27px;
  border-radius: 44px;
  min-width: 220px;
}

.advantage {
  padding-top: 88px;
  padding-bottom: 142px;
  padding-left: 120px;
  padding-right: 120px;
}

.advantage-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.36px;
  color: #011F3A;
  margin-bottom: 12px;
}

.advantage__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.28;
  margin-bottom: 82px;
  padding-left: 42px;
}

.advantage__list {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 120px;
}

.advantage__item {
  margin-left: 177px;
}

.advantage__item:first-child {
  margin: 0;
}

.advantage__image {
  width: 254px;
  height: 254px;
  margin-bottom: 54px;
}

.advantage__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #A1A1A1;
}

.requests {
  padding-bottom: 90px;
  background-color: #FFCA3A;
  margin: 70px 120px 70px 120px;
}

.requests::before {
  content: none;
  background: #D9D9D9;
  height: 23px;
}

.requests__container {
  width: 100%;
  height: 24px;
  background-color: #D9D9D9;
  margin-bottom: 110px;
}

.requests__list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.requests__item--left {
  min-width: 600px;
  border-right: 1px solid rgba(161, 161, 161, 0.4);
}

.requests__item--right {
  min-width: 600px;
  border-left: 1px solid rgba(161, 161, 161, 0.4);
}

.requests__image {
  width: 210px;
  height: 210px;
  margin-bottom: 24px;
}

.requests__title {
  margin-bottom: 12px;
}

.requests__text {
  margin-bottom: 10px;
}

.requests__link {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  text-align: center;
  color: #3D5675;
  background: #FFFFFF;
  border-radius: 44px;
  padding: 13px 25px 13px 25px;
  min-width: 204px;
}

.feedback-start {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 190px;
  padding-right: 190px;
}

.feedback-interior {
  background-color: #ffffff;
  width: 1200px;
  margin: 70px 120px 70px 120px;
}

.feedback-total {
  padding-top: 88px;
}

.feedback-total__title {
  display: inline-block;
  margin-left: 568px;
}

.feedback-interior__item {
  display: flex;
  align-items: center;
}

.feedback-interior__item--right {
  justify-content: space-between;
}

.feedback-start__img {
  margin: 0;
}

.feedback-interior__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 4px;
}

.feedback-interior__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #011F3A;
}

.feedback-interior__left {
  margin-left: 106px;
  margin-top: 63px;
}

.feedback-interior__right {
  margin-right: 106px;
  margin-top: 64px;
  margin-left: 106px;
}

.feedback-interior__comment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 62px;
}

.feedback-interior__name {
  margin-left: 10px;
}

.feedback-interior__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #3D5675;
  background: #F2F2F2;
  border-radius: 44px;
  padding: 13px 25px 13px 25px;
  min-width: 160px;
  margin-left: 18px;
}

.feedback-interior__text--grey {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #A1A1A1;
}

.start {
  padding-top: 120px;
  padding-bottom: 137px;
  background: #EEEEEE;
  width: 1200px;
  margin: 70px 120px 70px 120px;
  text-align: center;
}

.start-links {
  margin-top: 56px;
}

.start-links__browse {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #3D5675;
  padding: 13px 25px 13px 25px;
  background: #FFFFFF;
  border-radius: 44px;
  min-width: 250px;
  margin-left: 11px;
}

.start-links__starting {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 13px 25px 13px 25px;
  background: #3D5675;
  border-radius: 44px;
  min-width: 220px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 77px;
}

.footer__logo {
  margin-bottom: 281px;
}

.footer__list {
  margin-left: 92px;
}

.footer__item {
  margin-bottom: 17px;
  min-width: 170px;
}

.footer-container {
  margin-left: 92px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #3D5675;
}

.footer-container__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #3D5675;
  margin-bottom: 17px;
}

.footer__button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  color: #FFFFFF;
  background: #3D5675;
  border: none;
  border-radius: 44px;
  padding: 12px 36px 11px 30px;
}

.footer-form__input {
  background: #ffffff;
  border: none;
  border-radius: 34px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  height: 36px;
  min-width: 280px;
  margin-bottom: 12px;
}

.footer-form__input::placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  color: rgba(61, 86, 117, 0.4);
  width: 80px;
}/*# sourceMappingURL=main.css.map */