::root {
  --primary-text-color: #011f3a;
  --secondary-text-color: #777777;
  --link-color: #ffffff;
  --padding-link-primary:13px 25px 13px 25px;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background: #EEEEEE;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto, sans-serif;
}
a {
  display:block;
}

.container {
  width: 1470px;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  outline: 2px solid red;
}
/* Header */

.header {
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  display: flex;
  background: #FFFFFF;
    box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
    border-radius: 0px;
  
}
.nav-list .link {
  color: #011f3a;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  margin-right: 25px;
}

.nav-list{
  display: flex;
  align-items: flex-end;
  padding-left: 330px;
  padding-right: 400px;
}

/* HERO */

.hero {
  padding-top: 87px;
  padding-bottom: 205px;
}
.hero-title {
  font-size: 48px;
  line-height: 1.16;
  margin-bottom: 33px;
}
.hero-link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  background: #3d5675;
  border-radius: 44px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  padding: 19px 29px 19px 29px;
  width: 228px;
}
.hero-text {
  margin-bottom: 18px;
}
/* Certification */
.certification {
  padding-top: 20px;
  padding-bottom: 20px;
}


.certification-text{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: 0.6px;
    color: #A1A1A1;
}

/* Products */
.products {
  padding-top: 57px;
  padding-bottom: 50px;
}

.products-title{
  font-weight: 400;
    font-size: 32px;
    line-height: 1.19;
}

.products-link{
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #3D5675;
      border-radius: 44px;
      width: 247px;
}

.catalog{
  margin-bottom: 46px;
}

.catalog-title{
  font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.36px;
    margin-bottom: 8px;
}


.catalog-image{
  margin-bottom: 24px;
}


.catalog-text{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #777777;
}

.discount-text{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #A1A1A1;
}

.catalog-link{
      font-weight: 700;
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: 1.96px;
      text-transform: uppercase;
      color: #3D5675;
      background: #FFFFFF;
        border-radius: 44px;
        font-style: normal;
      padding: 13px 25px 13px 25px;
      width: 158px;
}

/* menegment */
.menegment {
  padding-top: 88px;
  padding-bottom: 100px;
  background: #72BDA3;
}

.menegment-title{
  font-weight: 400;
    font-size: 32px;
    line-height: 1.28;
    text-align: center;
    margin-bottom: 47px;
}
.menegment-list{
  margin-bottom: 87px;
}


.menegment-image{
  margin-bottom: 12px;
}

.menegment-list h3{
  margin-bottom: 10px;
  font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: 0.36px;
}
.menegment-link{
  
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 13px 25px 13px 25px;
    background: #3D5675;
      border-radius: 44px;
      width: 220px;
}
/* ADVANTAGE */

.advantage{
  padding-top: 88px;
  padding-bottom: 142px;
}

.advantage h3{
  margin-bottom: 12px;
}


.advantage-title{
  font-weight: 700;
    font-size: 32px;
    line-height: 1.28;
    margin-bottom: 82px;
}

.advantage-image{
  width: 254px;
  height: 254px;
  margin-bottom: 54px;
}


/* REQUESTS */

.requests {
  padding-top: 110px;
    padding-bottom: 90px;
    background-color: #FFCA3A;
}

.requests-image{
  width: 210px;
  height: 210px;
  margin-bottom: 24px;
}


.requests h3{
  margin-bottom: 12px;
}


.requests p{
  margin-bottom: 10px;
}

.requests-link{
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    text-align: center;
    color: #3D5675;
    background: #FFFFFF;
    border-radius: 44px;
    padding: 13px 25px 13px 25px;
    width: 204px;
}

/* FEEDBACK */

.feedback{
  padding-top: 88px;
  padding-bottom: 57px;
}

.feedback h3{
  font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 4px;
}

.feedback .link{
  font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
    background: #F2F2F2;
    border-radius: 44px;
    padding: 13px 25px 13px 25px;
    width: 160px;
}

.feedback-text{
  font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #A1A1A1
}

/* START */

.start{
  padding-top: 120px;
  padding-bottom: 137px;
  background: #EEEEEE;
}

.start-title{
  margin-bottom: 55px;
}
.start-link.browse{
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
    padding: 13px 25px 13px 25px;
    background: #FFFFFF;
    border-radius: 44px;
    width: 250px;
}
.start-link.starting{
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 25px 13px 25px;
    background: #3D5675;
      border-radius: 44px;
      width: 220px;
}

  

/* FOOTER */

.footer{
  padding-top: 60px;
  padding-bottom: 77px;
}

.footer p{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    color: #3D5675;
}
.form{
  font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    color: #FFFFFF;
    background: #3D5675;
      border-radius: 44px;
      padding: 12px 36px 11px 30px;
}