::root {
  --primary-text-color: #011f3a;
  --secondary-text-color: #777777;
  --link-color: #ffffff;
  --padding-link-primary:13px 25px 13px 25px;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background: #EEEEEE;
  padding-left: 120px;
  padding-right: 120px;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto, sans-serif;
}
a {
  display:block;
}


.container{
  width: 1470px;
  background-color: #EEEEEE;
}

.container-section{
  width: 1200px;
  background-color: #EEEEEE;
}
/* Header */

.header {
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
    box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
    border-radius: 0px;
  width: 1470px;
}
.header-link{
  padding-left: 24px;
}
.nav-list .link {
  display: inline-block;
  display: flex;
  align-items: center;
  color: #011f3a;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  margin-right: 25px;
}
.nav-img{
  margin-right: 13px;
}

.nav-list{
  display: flex;
  align-items: flex-end;
  
}
.accaunt{
  display: inline-block;
  display: flex;
  align-items: center;
}
.accaunt-img{
  margin-left: 25px;
}

/* HERO */

.hero {
  display: flex;
  padding-top: 87px;
  padding-bottom: 98px;
  background-color:#F2AE4D;
  width: 1470px;
}
.hero-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.16;
    color: #011F3A;
    margin-bottom: 33px;
}
.hero-link {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  background: #3d5675;
  border-radius: 44px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  padding: 19px 29px 19px 29px;
  min-width: 228px;
}
.hero-text {
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #011F3A;
  margin-bottom: 18px;
}


.hero-container{
  min-width: 500px;
}
.hero-img{
  margin-left: 316px;
  width: 504px;
  padding-bottom: 98px;
}
/* Certification */
.certification {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;
  width: 1470px;
}

.certification-title{
  visibility: hidden;
}
.certification-list{
  display: flex;
  padding-left: 120px;
    padding-right: 120px;
}

.certification-item{
  display: flex;
  align-items: center;
}

.certification-item:not(:first-child) {
  margin-left: 285px;
}
  


.certification-text{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: 0.6px;
    color: #A1A1A1;
    margin-left: 16px;
}

/* Products */
.products {
  padding-top: 57px;
  padding-bottom: 50px;
  padding-left: 120px;
  padding-right: 120px;
}
 .products-container{
   display: flex;
   margin-bottom: 63px;
 }
.products-title{
  font-weight: 400;
    font-size: 32px;
    line-height: 1.19;
}

.products-link{
  display: inline-block;
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #3D5675;
    padding: 13px 25px 13px 25px;
      border-radius: 44px;
      min-width: 247px;
      margin-left: 540px;
}

.catalog{
  margin-bottom: 46px;
}

.catalog-container{
  display: flex;
  
}

.catalog-price{
  margin-left: 61px;
  padding-bottom: 30px;
  padding-right: 25px;
  
}


.catalog-price.stickers{
  margin-left: 111px;
}


.catalog-price.perfect{
  margin-left: 101px;
}
.catalog-list{
  display: flex;
    flex-wrap: wrap;
}
.catalog-item{
  width: 400px;
  background: #FFFFFF;
   border: 1px solid #EDEDED;
    border-radius: 0px;
}

.catalog-title{
  font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.36px;
    margin-bottom: 8px;
    padding-left: 25px;
}


.catalog-image{
  margin-bottom: 24px;
}


.catalog-text{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #777777;
    padding-left: 25px;
}

.discount-text{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #A1A1A1;
}

.catalog-link{
  display: inline-block;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: 1.96px;
      text-transform: uppercase;
      color: #3D5675;
      background: #FFFFFF;
        border-radius: 44px;
        font-style: normal;
      padding: 13px 25px 13px 25px;
    margin-left: 16px;
    
}

.catalog-end{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
}

/* menegment */
.menegment {
  background: #72BDA3;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
   
    margin: 70px 120px 70px 120px;
   text-align: center;
   padding-bottom: 88px;
}




.menegment-title{
  font-weight: 400;
    font-size: 32px;
    line-height: 1.28;
    text-align: center;
    margin-bottom: 47px;
}

.menegment-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menegment-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 87px;
  padding-left: 50px;
  padding-right: 50px;
}

.menegment-item{
  text-align: center;
}

.menegment-item+.menegment-item{
  margin-left: 100px;
}

.menegment-image{
  margin-bottom: 12px;
}

.menegment-text{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #3D5675;
}

.menegment-list h3{
  margin-bottom: 10px;
  font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: 0.36px;
}
.menegment-link{
  display: inline-block;
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #ffffff;
    background: #3D5675;
    padding: 13px 26px 13px 27px;
      border-radius: 44px;
      min-width: 220px;
}
/* ADVANTAGE */

.advantage{
  padding-top: 88px;
  padding-bottom: 142px;
  padding-left: 120px;
  padding-right: 120px;
}

.advantage h3{
  font-weight: 700;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: 0.36px;
    color: #011F3A;
  margin-bottom: 12px;
}


.advantage-title{
  font-weight: 700;
    font-size: 32px;
    line-height: 1.28;
    margin-bottom: 82px;
    padding-left: 42px;
}




.advantage-list{
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 120px;
}


.advantage-item+.advantage-item{
  margin-left: 177px;
}

.advantage-image{
  width: 254px;
  height: 254px;
  margin-bottom: 54px;
}

.advantage-text{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #A1A1A1;
}

/* REQUESTS */

.requests {
  padding-top: 110px;
    padding-bottom: 90px;
    background-color: #FFCA3A;
    padding-left: 120px;
    padding-right: 120px;
    margin: 70px 120px 70px 120px;
}

.requests-list{
  display: flex;
  justify-content: center;
  text-align: center;
}

.requests::before{
content: none;
background: #D9D9D9;
  height: 23px;
}
.requests-item.left{
 min-width: 600px;
}
  
 .requests-item.right{
   min-width: 600px;
 }


.requests-image{
  width: 210px;
  height: 210px;
  margin-bottom: 24px;
}

    


.requests h3{
  margin-bottom: 12px;
}


.requests p{
  margin-bottom: 10px;
}

.requests-link{
  display: inline-block;
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    text-align: center;
    color: #3D5675;
    background: #FFFFFF;
    border-radius: 44px;
    padding: 13px 25px 13px 25px;
    min-width: 204px;
}


.requests-item.left{
border-right: 1px solid rgba(161, 161, 161, 0.4);

}

.requests-item.right{
  border-left: 1px solid rgba(161, 161, 161, 0.4);
}
  
  
  


/* FEEDBACK */

.feedback{
  padding-bottom: 57px;
  background-color: #ffffff;
  width: 1200px;
  padding-left: 120px;
  padding-top: 185px;
}
.feedback-total{
  padding-top: 88px;
}
.feedback-start{
  padding: 100px ;
  
}


.feedback-img{
  margin-left: 365px;
}
.feedback h3{
  font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 4px;
}

.feedback-container{
  display: flex;
}



.feedback .link{
  display: inline-block;
  font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
    background: #F2F2F2;
    border-radius: 44px;
    padding: 13px 25px 13px 25px;
    min-width: 160px;
}

.feedback-text{
  font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #A1A1A1
}

/* START */

.start{
  padding-top: 120px;
  padding-bottom: 137px;
  background: #EEEEEE;
}

.start-title{
  margin-bottom: 55px;
}
.start-link.browse{
  display: inline-block;
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
    padding: 13px 25px 13px 25px;
    background: #FFFFFF;
    border-radius: 44px;
    min-width: 250px;
}
.start-link.starting{
  display: inline-block;
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 25px 13px 25px;
    background: #3D5675;
      border-radius: 44px;
      min-width: 220px;
}

  

/* FOOTER */

.footer{
  padding-top: 60px;
  padding-bottom: 77px;
}

.footer p{
  font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    color: #3D5675;
}
.form{
  font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    color: #FFFFFF;
    background: #3D5675;
      border-radius: 44px;
      padding: 12px 36px 11px 30px;
}