.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 77px;

}

.footer__logo {
    margin-bottom: 281px;

}


.footer__list {
    margin-left: 92px;
}



.footer__item {
    margin-bottom: 17px;
    min-width: 170px;
}

.footer-container {
    margin-left: 92px;
}


.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    color: #3D5675;
}

.footer-container__text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    color: #3D5675;
    margin-bottom: 17px;
}



.footer__button {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    color: #FFFFFF;
    background: #3D5675;
    border: none;
    border-radius: 44px;
    padding: 12px 36px 11px 30px;

}

.footer-form__input {
    background: #ffffff;
    border: none;
    border-radius: 34px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 18px;
    height: 36px;
    min-width: 280px;
    margin-bottom: 12px;
}

.footer-form__input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: rgba(61, 86, 117, 0.4);
    width: 80px;
}