.start {
    padding-top: 120px;
    padding-bottom: 137px;
    background: #EEEEEE;
    width: 1200px;
    margin: 70px 120px 70px 120px;
    text-align: center;
}



.start-links {
    margin-top: 56px;
}

.start-links__browse {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
    padding: 13px 25px 13px 25px;
    background: #FFFFFF;
    border-radius: 44px;
    min-width: 250px;
    margin-left: 11px;
}

.start-links__starting {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 25px 13px 25px;
    background: #3D5675;
    border-radius: 44px;
    min-width: 220px;
}