.container {
    width: 1470px;
    background-color: #EEEEEE;
    padding-left: 120px;
    padding-right: 120px;
    &-section {
            width: 1200px;
            background-color: #EEEEEE;
        }
}

